body{
    background-color: #96c106;
}
/*internal css*/
.par1{
    background-color:rgb(179, 48, 179);
    border: 2px solid rgb(255, 94, 0) ;
}
.par2{
    background-color: #786b32;
    border: 2px dashed #000000 ;
}
.par3{
    background-color: hsl(140, 48%, 33%);
    border: 2px dotted rgb(58, 235, 10) ;
}   
#par4{
    background-color: rgba(255, 10, 133, 0.287);
    border: 2px dotted rgb(58, 235, 10) ;
}   